.Topdiv{
    
    background-color: rgb(228, 249, 245);
    text-align: center;

   
}
#cloudtop{
    display: inline;
     position: relative;
     left: 200px;
     top : 40px;
     padding-bottom: 60px;
}
h1{
    font-family: Sacramento, cursive;
    color: rgb(102, 191, 191);
    font-size: 100px;
}
h3{
    color: rgb(102, 191, 191);
    font-size: 40px;
    margin: 40px;
}
#cloudseond{
        position: relative;
        right: 200px;


}
.middendiv{
    text-align: center;
    padding-top: 150px;
    h2{
        
    color: rgb(102, 191, 191);
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
    }
    
   
}
#image{
    height: 200px;
    border-radius: 50%;

}
#page{
    font-size: 40px;
    
}
.enddiv{
        display: inline;
        text-align: center;
        
        
    h2{
        
        color: rgb(102, 191, 191);
        font-family: Montserrat, sans-serif;
        font-size: 2.5rem;
        margin-top: 50px;
        margin-bottom: 30px;

        }

    
   
}
